{% extends "repomaker/storage/detail_ssh_key.html" %}
{% load i18n %}

{% block ssh_help_text %}
<p>
	{% blocktrans trimmed %}
	Please make sure to add this public SSH key to your Git account for the upload to work.
	There are instructions for
	<a href="https://docs.gitlab.com/ee/gitlab-basics/create-your-ssh-keys.html#how-to-create-your-ssh-keys">Gitlab</a>
	and
	<a href="https://developer.github.com/v3/guides/managing-deploy-keys/#deploy-keys">GitHub</a>.
	{% endblocktrans %}
</p>
<p>
	{% blocktrans trimmed %}
	Also, please make sure that the master branch of your repository is <b>not protected</b> from force pushing.
	{% endblocktrans %}
</p>
{% endblock ssh_help_text %}

{% block storage_details %}
<li class="rm-storage-detail-info-item-container">
	<span class="rm-storage-detail-info-item">
		<i class="rm-storage-detail-info-item-icon">public</i>
		<span class="rm-storage-detail-info-item-title">{% trans 'Git Repository SSH Address' %}</span>
		<span class="rm-storage-detail-info-item-subtitle">
			{{ storage.get_remote_url }}
		</span>
	</span>
</li>
{% endblock storage_details %}
