{% extends "../base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Add Repository' %}{% endblock title %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block rm-content %}

<h2>{% trans 'Add New Repository' %}</h2>

<div class="rm-form mdl-grid">
	<form action="" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{% include '../form.html' %}
		<div class="mdl-cell mdl-cell--6-col">
			<input  class="rm-file-upload" type="submit" value="{% trans 'Add' %}"/>
		</div>
	</form>
</div>

{% endblock rm-content %}
