{% extends "../base.html" %}
{% load sass_tags %}

{% block title %}Add Repository{% endblock title %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block content %}

<h2>Add New Repository</h2>

<div class="rm-form">
	<form action="" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{% include '../form.html' %}
		<input type="submit" value="Add"/>
	</form>
</div>

{% endblock content %}
