{% extends "../base.html" %}

{% block title %}{{ repo.name }}{% endblock %}


{% block content %}

<h1>Repository {{ repo.name }}</h1>

{% if repo.last_publication_date %}
<div style="float:right">
    <img src="{{ repo.qrcode.url }}"/>
</div>
{% endif %}

<ul>
    <li><img src="{{ repo.icon.url }}"/></li>
    <li>Desc: {{ repo.description }}</li>
    <li>URL: <a href="{{ repo.get_fingerprint_url }}">{{ repo.url }}</a></li>
    <li>Fingerprint: {{ repo.fingerprint }}</li>
    <li>Icon: {{ repo.icon }}</li>
    <li>Created: {{ repo.created_date|date:"SHORT_DATE_FORMAT" }}</li>
    <li>Last Updated: {{ repo.last_updated_date|date:"SHORT_DATE_FORMAT" }}</li>
    <li>Last Publication: {{ repo.last_publication_date|date:"SHORT_DATE_FORMAT"|default:"Never" }}</li>
</ul>

<p>
    <a href="{% url 'index' %}">Back to repository list!</a>
</p>

<h2>Storage</h2>
{% if ssh_storage or s3_storage %}
<ul>
    {% for storage in ssh_storage %}
    <li>
        {{ storage }}
        [<a href="{% url 'storage_ssh_update' repo.id storage.id %}">Edit</a>]
        [<a href="{% url 'storage_ssh_delete' repo.id storage.id %}">Delete</a>]
    </li>
    {% endfor %}
    {% for storage in s3_storage %}
    <li>
        {{ storage }}
        [<a href="{% url 'storage_s3_update' repo.id storage.id %}">Edit</a>]
        [<a href="{% url 'storage_s3_delete' repo.id storage.id %}">Delete</a>]
    </li>
    {% endfor %}
</ul>
    {% if apps %}
    <p>
        <a href="{% url 'publish' repo.id %}">Publish repository!</a>
    </p>
    {% else %}
    <p>
        Add at least one app before you can publish your repository.
    </p>
    {% endif %}
{% else %}
<p><b>Attention:</b> This repository has no remote storage. Add one to get your repository published.</p>
<p><a href="{% url 'storage_ssh_add' repo.id %}">Add SSH Storage!</a></p>
<p><a href="{% url 'storage_s3_add' repo.id %}">Add Amazon S3 Storage!</a></p>
{% endif %}

<h2>Apps</h2>

<ul>
    {% for app in apps %}
    <li>
        <a href="{% url 'app' repo.id app.id %}">
            <img src="{{ app.icon.url }}"/>
            {{ app.name }}
        </a> - {{ app.summary }}
        [ <a href="{% url 'edit_app' repo.id app.id %}">Edit</a> ]
        [ <a href="{% url 'delete_app' repo.id app.id %}">Delete</a> ]
    </li>
    {% empty %}
    <li>No apps in this repository.</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'add_app' repo.id %}">Add app!</a>
</p>

{% endblock content %}
