{% extends "../base.html" %}
{% load humanize %}

{% block title %}{{ repo.name }}{% endblock %}


{% block content %}

<h1 style="vertical-align: middle;"><img src="{{ repo.icon.url }}"/> {{ repo.name }}</h1>
<p>{{ repo.description }}</p>

{% if repo.last_publication_date %}
<div class="mdc-card mdc-ripple-surface" style="float: right;">
	<a href="{{ repo.get_fingerprint_url }}">
		<img src="{{ repo.qrcode.url }}"/>
	</a>
</div>
{% endif %}

<ul class="mdc-list mdc-list--dense">
    <li class="mdc-list-item">
	    <i class="mdc-list-item__start-detail material-icons">insert_link</i>
	    URL: <a href="{{ repo.get_fingerprint_url }}">{{ repo.url }}</a>
    </li>
    <li class="mdc-list-item">
	    <i class="mdc-list-item__start-detail material-icons">fingerprint</i>
	    Fingerprint: {{ repo.fingerprint }}
    </li>
    <li class="mdc-list-item">
	    <i class="mdc-list-item__start-detail material-icons">watch_later</i>
	    Created: {{ repo.created_date|naturaltime }} ({{ repo.created_date|date:"SHORT_DATE_FORMAT" }})
    </li>
    <li class="mdc-list-item">
	    <i class="mdc-list-item__start-detail material-icons">update</i>
	    Last Updated: {{ repo.last_updated_date|naturaltime }} ({{ repo.last_updated_date|date:"SHORT_DATE_FORMAT" }})
    </li>
	<li class="mdc-list-item">
		<i class="mdc-list-item__start-detail material-icons">schedule</i>
		Last Publication: {{ repo.last_publication_date|naturaltime|default:"" }}
		({{ repo.last_publication_date|date:"SHORT_DATE_FORMAT"|default:"Never" }})
	</li>
</ul>

<h2 style="float: clear;">Storage</h2>
{% if ssh_storage or s3_storage %}
<ul class="mdc-list">
    {% for storage in ssh_storage %}
    <li class="mdc-list-item">
	    <i class="mdc-list-item__start-detail material-icons">cloud</i>
        {{ storage }}
        <a href="{% url 'storage_ssh_update' repo.id storage.id %}" class="material-icons mdc-ripple-surface" style="padding: 0.5em;">edit</a>
        <a href="{% url 'storage_ssh_delete' repo.id storage.id %}" class="material-icons mdc-ripple-surface" style="padding: 0.5em;">delete</a>
    </li>
    {% endfor %}
    {% for storage in s3_storage %}
    <li class="mdc-list-item">
	    <i class="mdc-list-item__start-detail material-icons">cloud</i>
        {{ storage }}
        <a href="{% url 'storage_s3_update' repo.id storage.id %}" class="material-icons mdc-ripple-surface" style="padding: 0.5em;">edit</a>
        <a href="{% url 'storage_s3_delete' repo.id storage.id %}" class="material-icons mdc-ripple-surface" style="padding: 0.5em;">delete</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p><b>Attention:</b> This repository has no remote storage. Add one to get your repository published.</p>
<p><a href="{% url 'storage_ssh_add' repo.id %}">Add SSH Storage!</a></p>
<p><a href="{% url 'storage_s3_add' repo.id %}">Add Amazon S3 Storage!</a></p>
{% endif %}

<h2>Apps</h2>

<ul class="mdc-list mdc-list--two-line">
	{% for app in apps %}
	<li class="mdc-list-item">
		<a href="{% url 'app' repo.id app.id %}" class="mdc-ripple-surface">
			<img src="{{ app.icon.url }}" style="float: left; margin-right: 1em;"/>
			<span class="mdc-list-item__text" style="margin-right: 1em;">
                <span class="mdc-list-item__text__primary">{{ app.name }}</span>
                <span class="mdc-list-item__text__secondary">{{ app.summary }}</span>
			</span>
			<a href="{% url 'edit_app' repo.id app.id %}" class="material-icons mdc-ripple-surface" style="padding: 0.5em;">edit</a>
			<a href="{% url 'delete_app' repo.id app.id %}" class="material-icons mdc-ripple-surface" style="padding: 0.5em;">delete</a>
		</a>
	</li>
	{% empty %}
	<li class="mdc-list-item">No apps in this repository.</li>
	{% endfor %}
</ul>

<p></p>

<a href="{% url 'add_app' repo.id %}" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 rm-no-underline">
	<button class="mdc-fab material-icons">
		<span class="mdc-fab__icon">add</span>
	</button>
</a>

{% endblock content %}
