.rm-app-summary-text {
    width: 100%;
    margin-top: 16px;
}

.rm-app-summary-text, .rm-app-description-text {
    color: #666666;
}

.rm-app-feature-graphic {
    /* TODO */

    img {
        max-width: 100%;
    }
}