{% extends "maker/base.html" %}

{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/login.scss' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock %}

{% block rm-header-classes %}rm-header--light{% endblock rm-header-classes %}

{% block toolbar %}<span class="rm-logo">repomaker</span>{% endblock toolbar %}

{% block rm-content %}
<div class="mdl-grid mdl-cell--8-col">

	<div class="mdl-cell mdl-cell--6-col">
		<h1>{% trans "Distribute apps." %}<br/>{% trans "Spread the love." %}</h1>
		<span>
			{% blocktrans trimmed %}
			Repomaker is a free web app built for creating collections
			of apps, music, books, videos and pictures to share with your peers.
			It uses F-Droid as the mobile distribution platform.
			Available on Android only.
			{% endblocktrans %}
		</span>
	</div>

	<div class="mdl-cell mdl-cell--2-col"></div>

	<div class="mdl-cell mdl-cell--4-col">

		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

			<div class="mdl-tabs__tab-bar">
				<a href="#login-panel" class="mdl-tabs__tab rm-login-tab is-active">{% trans "Login" %}</a>
				<!-- TODO href="#signup-panel" -->
				<a href="{{ signup_url }}" class="mdl-tabs__tab rm-login-tab">{% trans "Sign Up" %}</a>
			</div>

			<div class="rm-form mdl-tabs__panel is-active" id="login-panel">
				<p></p>
				{% include "account/login_form.html" %}
			</div>

			<div class="mdl-tabs__panel" id="signup-panel">
				<!-- TODO signup panel - here in on separate page? -->
			</div>

		</div>
	</div>

</div>
{% endblock rm-content %}
