{% extends "repomaker/base_modal.html" %}
{% load i18n %}

{% block title %}{% trans 'Delete Feature Graphic' %}{% endblock %}


{% block rm-content %}
<div class="rm-form mdl-grid rm-grid--center">

	<div class="mdl-cell mdl-cell--6-col center">

		<p>
			{% blocktrans trimmed %}
			Are you sure you want to delete the feature graphic from your app <strong>{{ app }}</strong>?
			{% endblocktrans %}
		</p>

		<img src="{{ app.feature_graphic.url }}" style="max-height: 500px; max-width: 100%;"/>

		<p></p>

		<form action="" method="post">
			{% csrf_token %}
			<input type="submit" value="{% trans 'Confirm' %}"/>
		</form>
	</div>

</div>
{% endblock rm-content %}
