{% extends "repomaker/base_modal.html" %}
{% load i18n %}
{% load humanize %}

{% block title %}{{ app.name }}{% endblock title %}

{% block toolbar %}
<div class="rm-grid--full-width rm-grid--center mdl-grid">
	<div class="rm-app-toolbar mdl-cell mdl-cell--8-col">
		{% block back-button %}
		<a href="{% url 'repo' app.repo.id %}" class="rm-toolbar-action-left">
			<i class="material-icons">arrow_back</i>
		</a>
		{% endblock back-button %}
		<div class="mdl-layout-spacer"></div>
		<button type="button" id="rm-app-language-button" class="rm-toolbar-item rm-app-language-button mdl-js-button">
			{% blocktrans with count=app.get_available_languages.count trimmed %}
			Languages ({{ count }})
			{% endblocktrans %}
			<i class="material-icons">expand_more</i>
		</button>
		{% block top-buttons %}
		<a href="{{ app.get_edit_url }}" class="rm-no-underline">
			<button class="rm-button mdl-button mdl-js-button">
				{% trans 'Edit' %}
			</button>
		</a>
		{% endblock top-buttons %}
	</div>
</div>
{% endblock toolbar %}

{% block rm-content %}
<div class="rm-app-language-menu-container rm-grid--center mdl-grid">
	<div class="rm-app-language-menu-no-script mdl-js-menu mdl-js-ripple-effect" id="lang-menu"
		 data-mdl-for="rm-app-language-button">
		{% block add-translation-button %}
		<a href="{% url 'app_add_lang' app.repo.id app.id %}" class="rm-app-language-add">
			<i class="material-icons">add</i> {% trans 'Add Translation' %}
		</a>
		{% endblock add-translation-button %}
		{% for lang in app.get_available_languages_as_dicts %}
		<a href="{% block app-lang-url %}{% url 'app' app.repo.id app.id lang.code %}{% endblock %}"
		   class="rm-app-language{% if app.language_code == lang.code %} active{% endif%}">
			{{ lang.name }}
		</a>
		{% endfor %}
	</div>
</div>

<div class="rm-grid--center mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
		<div class="rm-app-header">
			<img src="{{ app.icon_url }}" alt="Repo Icon" class="rm-icon"/>
			<div class="rm-app-primary-content">
				<h2 class="rm-app-title">{{ app.name }}</h2>
				{% block author %}
				{% if app.author_name %}
				<div class="rm-app-author">
					{% blocktrans with author=app.author_name trimmed %}
					By {{ author }}
					{% endblocktrans %}
				</div>
				{% endif %}
				{% endblock author %}
			</div>
			{% block info %}
			<div class="rm-app-secondary-content">
				{% if app.get_latest_version %}
				<div class="rm-app-version">
					Version: {{ app.get_latest_version.version_name }}
				</div>
				{% endif %}
				<div class="rm-app-last-time-updated">
					{# time is e.g. '6 days' and will be translated automatically #}
					{% blocktrans with time=app.last_updated_date|timesince trimmed %}
					Updated {{ time }} ago
					{% endblocktrans %}
				</div>
			</div>
			{% endblock info %}
		</div>
		<div class="rm-app-summary-category">
			{% block summary %}
			{% if app.summary_override %}
			<div class="rm-app-summary-override">{{ app.summary_override }}</div>
			{% endif %}
			<div class="rm-app-summary">{{ app.summary }}</div>
			{% endblock summary %}
			{% block categories %}
			{% if app.category.exists %}
			{% for category in app.category.all %}
			<span class="rm-app-category-chip mdl-chip">
				<span class="rm-app-category-text mdl-chip__text">{{ category }}</span>
			</span>
			{% endfor %}
			{% endif %}
			{% endblock categories %}
		</div>
	</div>
</div>

{% block app-info %}
{% if app.tracked_remote %}
<div class="rm-grid--center mdl-grid">
	<div class="rm-app-automatically-updated mdl-cell mdl-cell--6-col">
		{% blocktrans with repo_name=app.tracked_remote.repo.name trimmed %}
		This app gets automatically updated from the remote repo "{{ repo_name }}".
		{% endblocktrans %}
	</div>
</div>
{% endif %}
{% endblock app-info %}

<div class="rm-grid--center mdl-grid">
	<div class="rm-app-description mdl-cell mdl-cell--6-col">
		{% block description %}
		{% if app.description_override %}
		<div class="rm-app-description-override">
			{{ app.description_override|safe }}
		</div>
		{% endif %}
		{{ app.description|safe }}
		{% endblock description %}
	</div>
</div>

{% block screenshots %}
{% if form or screenshots.exists %}
<div class="rm-grid--center mdl-grid">
	{% block screenshot-header %}{% endblock screenshot-header %}
	<div class="rm-app-screenshots">
		{% block screenshot-drop %}{% endblock screenshot-drop %}
		{% for screenshot in screenshots %}
		<div class="rm-app-screenshot">
			{% block screenshot-delete %}{% endblock screenshot-delete %}
			<img src="{{ screenshot.get_url }}"/>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock screenshots %}

{% block feature-graphic %}
{% if app.feature_graphic %}
<div class="rm-grid--center mdl-grid">
	<div class="rm-app-feature-graphic mdl-cell mdl-cell--8-col">
		<h4 class="rm-app-section">{% trans 'Feature Graphic' %}</h4>
		<img src="{{ app.feature_graphic.url }}"/>
	</div>
</div>
{% endif %}
{% endblock feature-graphic %}

{% block apks %}
<div class="rm-grid--center mdl-grid">
	<div class="rm-app-versions mdl-cell mdl-cell--6-col">
		<h4 class="rm-app-section">
			{% trans 'version history' %}
		</h4>
		{% block apk-drop %}{% endblock apk-drop %}
		{% if apks %}
		<ul class="rm-app-versions-list mdl-list">
			{% for pointer in apks %}
			<li class="rm-app-versions-item">
				<span class="rm-app-versions-item-info">
					<span>
						{% blocktrans with version=pointer.apk.version_name code=pointer.apk.version_code trimmed %}
						Version {{ version }} ({{ code }})
						{% endblocktrans %}
					</span>
					{% if pointer.file %}
					<span class="rm-app-versions-item-info-released">
						{% blocktrans with date=pointer.apk.added_date|date:"DATE_FORMAT" trimmed %}
						Released {{ date }}
						{% endblocktrans %}
					</span>
					{% else %}
					<span class="rm-app-versions-item-info-loading">
						<!-- TODO: Use progress bar instead and reload when download done -->
						{% trans 'APK is still downloading...' %}
					</span>
					{% endif %}
				</span>
				{% block apk-delete %}{% endblock apk-delete %}
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<div id="rm-app-versions-empty">
			<p>{% trans 'This app has no APK files.' %}</p>
			<p>{% trans 'If you added this app from a remote repo, try deleting it and adding it again.' %}</p>
		</div>
		{% endif %}
	</div>
</div>
{% endblock apks %}

{% block bottom-navigation %}
<div class="rm-app-navigation mdl-grid">
	<div class="mdl-cell mdl-cell--6-col">
	{% if app.get_previous %}
	<a href="{% block prev-url %}{{ app.get_previous.get_absolute_url }}{% endblock %}"
	   class="rm-app-navigation-previous">
		<i class="material-icons">arrow_back</i>
		<h3 class="rm-app-navigation-previous-text">{% trans 'Previous' %}</h3>
	</a>
	{% endif %}
	</div>
	<div class="mdl-cell mdl-cell--6-col">
	{% if app.get_next %}
	<a href="{% block next-url %}{{ app.get_next.get_absolute_url }}{% endblock %}"
	   class="rm-app-navigation-next">
		<i class="material-icons">arrow_forward</i>
		<h3 class="rm-app-navigation-next-text">{% trans 'Next' %}</h3>
	</a>
	{% endif %}
	</div>
</div>
{% endblock bottom-navigation %}

<script type="text/javascript">
	var langMenu = document.getElementById('lang-menu');
	if (langMenu !== null) {
		langMenu.classList.remove('rm-app-language-menu-no-script');
		langMenu.classList.add('rm-app-language-menu');
	}
</script>

{% block page-footer %}{% endblock page-footer %}
{% endblock rm-content %}
