{% extends "repomaker/app/index.html" %}
{% load i18n %}
{% load static %}
{% load compress %}

{% block back-button %}
<a href="{% url 'add_app' repo.id %}" class="rm-toolbar-action-left">
	<i class="material-icons">arrow_back</i>
</a>
{% endblock back-button %}

{% block top-buttons %}
<form action="" enctype="multipart/form-data" method="post">
	{% csrf_token %}
	<input type="submit" value="{% trans 'Add' %}" class="rm-button--blue mdl-js-button"
		   onclick="addRemoteApp(event, {{ repo.id }}, {{ app.repo.id }}, {{ app.id }}, '{% url 'add_app' repo.id %}')"/>
</form>
{% endblock top-buttons %}

{% block app-lang-url %}{% url 'add_remote_app' repo.id app.repo.id app.id lang.code %}{% endblock app-lang-url %}
{% block add-translation-button %}{% endblock add-translation-button %}

{% block screenshots %}

{% if screenshots.exists %}
<div class="rm-grid--center mdl-grid">
	{% if show_screenshots %}
	<div class="rm-app-screenshots">
		{% for screenshot in screenshots %}
		<div class="rm-app-screenshot">
			<img src="{{ screenshot.get_url }}"/>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<div class="rm-app-screenshots" hidden></div>
	<div class="rm-remote-app-privacy-text">
		{% trans 'There are currently no screenshots shown because this gives the repo owner the ability to track you.' %}
	</div>
	<div class="rm-remote-app-privacy-button-container">
		<a href="{% url 'add_remote_app_screenshots' repo.id app.repo.id app.id app.language_code %}">
			<button class="rm-button">{% trans 'show screenshots' %}</button>
		</a>
	</div>
	<datalist id='rm-app-screenshots-data'>
		{% for screenshot in screenshots %}
		<option value="{{ screenshot.get_url }}">
		{% endfor %}
	</datalist>
	{% endif %}
</div>
{% endif %}
{% endblock screenshots %}

{% block apks %}{% endblock apks %}

{% block page-footer %}
{% compress js file remote_add %}
<script src="{% static 'repomaker/js/app/add.js' %}"></script>
<script src="{% static 'repomaker/js/app/remote_add.js' %}"></script>
{% endcompress %}
{% endblock page-footer %}
