.git
.gitignore
.gitlab-ci.yml
.idea
.pylintrc
.travis.yml
MANIFEST.in
README.md
/debian
!/debian/requirements.txt
/doc
/docker/data
/docker/pgdata
/node_modules
/tests
/setup.*
/*.sh
!/pre-release.sh
