db.sqlite3
.idea
*.pyc
media/user_*
media/remote_repo_*
media/packages
private_repo
credentials
node_modules/
/static/
.coverage
repomaker/static/repomaker/css/styles.css
repomaker/static/repomaker/css/repo/page.css

.idea/*
!.idea/codeStyleSettings.xml

*.mo

/build/
/dist/
/repomaker.egg-info/
