.coverage
.idea
*.pyc
credentials

data/db.sqlite3
data/media/packages/
data/media/remote_repo_*
data/media/user_*
data/private_repo/

debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/repomaker*
!debian/repomaker.links
!debian/repomaker.install

node_modules/

repomaker/static/repomaker/css/styles.css
repomaker/static/repomaker/css/repo/page.css
repomaker-static/

.idea/*
!.idea/codeStyleSettings.xml

*.mo

/build/
/dist/
/repomaker.egg-info/
/docker/data
