django
qrcode
django-background-tasks
django-compressor
django-sass-processor
git+https://github.com/apache/libcloud.git@516018d050a5470afe4a07d33d1fcb26d0e1df18#egg=apache-libcloud
#fdroidserver>=0.8.0
#git+https://gitlab.com/grote/fdroidserver.git@c9b76eb8086407f13a8c4ea8bbf1ed0c6c5b4375#egg=fdroidserver
git+https://gitlab.com/fdroid/fdroidserver.git@8f96c9da3dc6581f9f3b14f33756d26cd64bcd86#egg=fdroidserver
