{% extends "../base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Add App' %}{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block rm-content %}

<h1>{% trans 'Add new App' %}</h1>

<div class="rm-form">
	<form action="" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{% include '../form.html' %}
		<input type="submit" value="{% trans 'Upload APK' %}"/>
	</form>
</div>

<p></p>

<div class="mdc-layout-grid">
	<div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-2"
		 style="padding:1em; justify-content: flex-start;">
		{% trans 'Remote Repositories' %}
		<p>
			<a href="{% url 'add_app' repo_id %}">{% trans 'All' %}</a>
		</p>
		{% for repo in repos %}
		<p>
			<a href="{% url 'add_app_from_remote' repo_id repo.id %}">
				<img src="{{ repo.icon.url }}" style="height: 32px;"/> {{ repo }}
			</a>
		</p>
		{% empty %}
		<p>{% trans "Sorry, but there are no remote repositories at the moment. Don't despair, you can add one below." %}</p>
		{% endfor %}
		<p></p>
		<section class="mdc-card__actions">
			<a href="{% url 'add_remote_repo' %}">
				<button class="mdc-button mdc-button--raised mdc-button--compact mdc-card__action">{% trans 'Add' %}</button>
			</a>
		</section>
	</div>

	<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
		{% for app in apps %}
		<a href="{% url 'add_remote_app' repo_id app.repo.id app.id %}" class="rm-no-underline">
			<div class="mdc-card mdc-ripple-surface"
				 style="width: 250px;height:400px;padding:10px;display:inline-table;margin-right:10px;margin-bottom:10px;">
				<section class="mdc-card__media"
						 style="background-image: url('{{ app.icon.url }}'); background-size: cover;  background-repeat: no-repeat;  height: 230px;"></section>
				<section class="mdc-card__primary">
					<h1 class="mdc-card__title mdc-card__title--large">{{ app.name }}</h1>
					<h2 class="mdc-card__subtitle">{{ app.summary }}</h2>
				</section>
			</div>
		</a>
		{% empty %}
		<p>{% trans 'There are no apps from remote repositories.' %}</p>
		<p>{% trans 'If you just added a remote repository, wait for the apps to download and try again later.' %}</p>
		{% endfor %}
	</div>
</div>

{% endblock rm-content %}
