{% extends "../base.html" %}
{% load sass_tags %}

{% block title %}Edit App{% endblock %}
{% block toolbar-title %}<a href="{% url 'repo' app.repo.id %}">{{ app.repo.name }}</a>{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block content %}

<h1><img src="{{ app.icon.url }}"/> Edit {{ app.name }}</h1>

<div class="rm-form">
    <form action="" method="post">
        {% csrf_token %}
        {% include '../form.html' %}
        <input type="submit" value="Save Changes"/>
    </form>
</div>

{% endblock content %}
