{% extends "../base.html" %}
{% load humanize %}

{% block title %}{{ app.name }}{% endblock %}
{% block toolbar-title %}<a href="{% url 'repo' app.repo.id %}">{{ app.repo.name }}</a>{% endblock %}

{% block content %}

<div class="mdc-layout-grid">

	<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">

		<h1><img src="{{ app.icon.url }}"/> {{ app.name }}</h1>

		{% if app.summary %}
		<h3>{{ app.summary }}</h3>
		{% endif %}

		<ul class="mdc-list mdc-list--dense">
			<li class="mdc-list-item">
				<i class="mdc-list-item__start-detail material-icons">info_outline</i>
				Package ID: {{app.package_id }}
			</li>
			<li class="mdc-list-item">
				<i class="mdc-list-item__start-detail material-icons">style</i>
				Categories:
				{% if app.category.exists %}
				{{ app.category.all|join:", " }}
				{% else %}
				None
				{% endif %}
			</li>
			{% if app.website %}
			<li class="mdc-list-item">
				<i class="mdc-list-item__start-detail material-icons">insert_link</i>
				Website: {{ app.website|urlize }}
			</li>
			{% endif %}
			{% if app.description %}
			<li class="mdc-list-item" style="overflow: auto;">
				<i class="mdc-list-item__start-detail material-icons">description</i>
				Description: {{ app.description }}
			</li>
			{% endif %}
			{% if apks %}
			<li class="mdc-list-item">
				<i class="mdc-list-item__start-detail material-icons">gesture</i>
				Signature: {{ apks.0.apk.signature }}
			</li>
			{% endif %}
			<li class="mdc-list-item">
				<i class="mdc-list-item__start-detail material-icons">watch_later</i>
				Added: {{ app.added_date|date:"SHORT_DATE_FORMAT" }}
			</li>
			<li class="mdc-list-item">
				<i class="mdc-list-item__start-detail material-icons">update</i>
				Last Updated: {{ app.last_updated_date|naturaltime }} ({{ app.last_updated_date|date:"SHORT_DATE_FORMAT" }})
			</li>
		</ul>

		<p>
			<a href="{% url 'edit_app' app.repo.id app.id %}" class="rm-no-underline">
				<button class="mdc-button mdc-button--primary mdc-button--raised">
					<i class="material-icons">edit</i>
					Edit App Details
				</button>
			</a>

			<a href="{% url 'screenshot_add' app.repo.id app.id %}" class="rm-no-underline">
				<button class="mdc-button mdc-button--primary mdc-button--raised">
					<i class="material-icons">add</i>
					Add Screenshot
				</button>
			</a>

			<a href="{% url 'delete_app' app.repo.id app.id %}" class="rm-no-underline">
				<button class="mdc-button mdc-button--raised">
					<i class="material-icons">delete</i>
					Delete App
				</button>
			</a>
		</p>

	</div>

	<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">

		<h2>Versions</h2>

		{% if apks %}
		<ul class="mdc-list">
			{% for pointer in apks %}
			<li><h4>{{ pointer.apk.version_name }} <span style="font-weight: normal; font-size: 75%;">({{ pointer.apk.version_code }})</span></h4>
				{% if pointer.file %}
				<ul class="mdc-list mdc-list--dense">
					<li class="mdc-list-item">Size: {{ pointer.apk.size|filesizeformat }}</li>
					<li class="mdc-list-item">File: {{ pointer.file.name }}</li>
					<li class="mdc-list-item">Hash ({{ pointer.apk.hash_type }}): {{ pointer.apk.hash }}</li>
				</ul>
				{% else %}
				<em>APK is still downloading...</em>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		<div style="text-align: right; margin: 2em;">
			<a href="{% url 'add_app' app.repo.id %}" class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 rm-no-underline">
				<button class="mdc-fab material-icons">
					<span class="mdc-fab__icon">add</span>
				</button>
			</a>
		</div>

	</div>

	<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12"
		 style="display: block; white-space: nowrap; overflow: auto; margin-right: 10px; margin-bottom: 10px; padding: 10px">
		{% for screenshot in app.screenshot_set.all %}
		<img src="{{ screenshot.get_url }}" style="display: inline-block; margin: 10px 0px 10px 10px; max-height:500px"/>
		<a href="{% url 'screenshot_delete' app.repo.id app.id screenshot.id %}" class="rm-no-underline"
		   style="position: relative; left: -25px;">
			<button class="mdc-fab mdc-fab--mini material-icons">
				<span class="mdc-fab__icon">delete</span>
			</button>
		</a>
		{% endfor %}
	</div>

</div>

{% endblock content %}
