{% extends "../base.html" %}
{% load sass_tags %}

{% block title %}Add Screenshot{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block content %}

<h1>Add Screenshot</h1>

<div class="rm-form">
	<form action="" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{% include '../form.html' %}
		<input type="submit" value="Upload Screenshot"/>
	</form>
</div>

<p></p>

{% endblock content %}
