Source: repomaker
Section: python
Priority: optional
Maintainer: F-Droid Community <team@f-droid.org>
Standards-Version: 4.0.0
Build-Depends: debhelper (>= 9), python3, python3-dev, dh-virtualenv (>= 1.0)

Package: repomaker
Depends: python3-bleach, python3-cryptography (>= 1.4.0), python3-django, python3-django-compressor, python3-qrcode, python3-six (>= 1.9), python3-magic, python3-pyqt5.qtwebengine, python3-pyqt5.qtwebkit, aapt, apksigner, libmagic1, openjdk-8-jdk, git (>= 2.3.0), rsync
Section: python
Architecture: all
Description: Create F-Droid repositories with ease
