{% extends "../base.html" %}
{% load sass_tags %}

{% block title %}Delete Storage{% endblock %}
{% block toolbar-title %}<a href="{% url 'repo' object.repo.id %}">{{ object.repo.name }}</a>{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block content %}

<h1>Confirm Removal</h1>

<div class="rm-form">
	<form action="" method="post">
		{% csrf_token %}
		<p>Are you sure you want to remove the remote storage at "{{ object }}"?</p>
		<input type="submit" value="Confirm"/>
	</form>
</div>

{% endblock content %}
