<!DOCTYPE html>
{% load sass_tags %}
{% load i18n %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Repo Maker - {% block title %}{% endblock %}</title>
	<link href="{% sass_src 'maker/css/style.scss' %}" rel="stylesheet" type="text/css" media="all">
	{% block head %}{% endblock %}
</head>

<body class="mdc-typography">
<header class="mdc-toolbar">
	<div class="mdc-toolbar__row">
		<section class="mdc-toolbar__section mdc-toolbar__section--align-start">
			<a class="material-icons">menu</a>
			<span class="mdc-toolbar__title">{% block toolbar-title %}<a href="/">Repo Maker</a>{% endblock %}</span>
		</section>
		{% if user.is_authenticated and user.username != 'user' %}
		{% load account %}
		<section class="mdc-toolbar__section mdc-toolbar__section--shrink-to-fit mdc-toolbar__section--align-end">
			{% user_display user %}
			[ <a href="{% url 'account_logout' %}">{% trans 'logout' %}</a> ]
		</section>
		{% endif %}
	</div>
</header>
<main>
	<div id="content">
		{% block rm-content %}{% endblock rm-content %}
	</div>
</main>
</body>
</html>
