{% for field in form %}
<div class="mdc-textfield {% if field.name == 'description' %}mdc-textfield--multiline{% endif %}" style="display: block; margin-top: 1em;">
	{% if field.field.widget.input_type == 'file' %}
	<label for="{{ field.id_for_label }}" class="rm-file-upload"><i class="material-icons">file_upload</i> {{ field.label }}</label>
	{% else %}
	{{ field.label_tag }}
	{% endif %}
	{{ field.errors }}
	{{ field }}
</div>

{% if field.help_text %}
<p id="username-helptext" class="mdc-textfield-helptext mdc-textfield-helptext--persistent">
	{{ field.help_text }}
</p>
{% endif %}

{% endfor %}
