{% for field in form %}
<div class="mdl-cell
			mdl-cell--6-col
			{% if field.field.widget.input_type == 'checkbox' %}
			rm-form-checkbox
			mdl-checkbox
			mdl-js-checkbox
			mdl-js-ripple-effect
			{% else %}
			mdl-textfield
			mdl-js-textfield
			mdl-textfield--floating-label
			{% endif %}
			{% if field.errors %}
			is-invalid
			{% endif %}">
	{% if field.field.widget.input_type == 'file' %}
	<label for="{{ field.id_for_label }}" class="rm-file-upload"><i class="material-icons">file_upload</i> {{ field.label }}</label>
	{% elif field.field.widget.input_type == 'checkbox' %}
	<label for="{{ field.id_for_label }}" class="mdl-checkbox__label">{{ field.label }}</label>
	{% else %}
	<label for="{{ field.id_for_label }}" class="mdl-textfield__label">{{ field.label }}</label>
	{% endif %}
	{{ field }}
	{% if field.help_text or field.errors %}
	<span>
		{% if field.errors %}
		{{ field.errors }}
		{% endif %}
	</span>
	{% endif %}
</div>
<span>{{ field.help_text }}</span>
{% endfor %}
