/*
 * Material Design Icons
 */
$material-design-icons-font-path: unquote(get-setting(NODE_MODULES_URL) + 'material-design-icons-iconfont/dist/fonts/');
@import "material-design-icons-iconfont/dist/material-design-icons.scss";

/*
 * Roboto Font
 */
$roboto-font-path: unquote(get-setting(NODE_MODULES_URL) + "roboto-fontface/fonts");
@import "roboto-fontface/css/roboto/sass/roboto-fontface";

/*
 * Material Design Lite
 */
@import "material-design-lite/src/animation/animation";
@import "material-design-lite/src/button/button";
@import "material-design-lite/src/card/card";
@import "material-design-lite/src/checkbox/checkbox";
@import "material-design-lite/src/chip/chip";
@import "material-design-lite/src/grid/grid";
@import "material-design-lite/src/icon-toggle/icon-toggle";
@import "material-design-lite/src/layout/layout";
@import "material-design-lite/src/list/list";
@import "material-design-lite/src/mixins";
@import "material-design-lite/src/resets/resets";
@import "material-design-lite/src/ripple/ripple";
@import "material-design-lite/src/shadow/shadow";
@import "material-design-lite/src/tabs/tabs";
@import "material-design-lite/src/textfield/textfield";
@import "material-design-lite/src/typography/typography";
@import "material-design-lite/src/variables";

@import "mixins";

/*
 * General Repomaker Styles
 */
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.rm-header, .rm-header a {
    overflow: visible;
    background-color: #39414a;
    color: white;
}

.rm-header--light, .rm-header--light a {
    background-color: white !important;
    color: #767777 !important;
}

.rm-header .mdl-layout__drawer-button {
    background: transparent;
}

.rm-header--light .mdl-layout__drawer-button {
    color: #767777 !important;
}

.rm-header .mdl-navigation__link, .rm-title a, .rm-toolbar-item {
    font-weight: 700;
}

.rm-title {
    display: inline-flex;
    vertical-align: middle;
}

.rm-toolbar-action-left {
    color: white;
    text-decoration: none;
    align-items: flex-start;
    display: flex;
    flex-grow: 2;
    flex-flow: column;
}

.rm-header--light .rm-toolbar-action-left {
    color: #767777 !important;
}

.rm-toolbar-item {
    display: inline-flex;
    vertical-align: middle;
    text-decoration: none;
    margin: 20px;
}

.rm-toolbar-button {
    background: none;
    border: thin solid #4a4a4a;
    border-radius: 25px;
    @include font-size(11px);
    margin: 10px;
    padding: 0 60px;
}

.rm-toolbar-account {
    padding: 0 !important;
}

.rm-content {
	margin: 16px;
}

.rm-grid--center {
    justify-content: center;
}

.rm-grid--full-width {
    width: 100%;
}

a.rm-no-underline {
	text-decoration: none;
	color: unset;
}

.mdl-layout-title a, a.material-icons, .mdl-list__item a {
	text-decoration: none;
	color: unset;
}

.rm-icon {
	width: 80px;
	height: 80px;
}

@import "app/styles.scss";
@import "repo/styles.scss";
