{% for field in form %}
<div class="mdl-cell
			mdl-cell--12-col
			{% if field.field.widget.input_type == 'checkbox' %}
			mdl-checkbox
			mdl-js-checkbox
			mdl-js-ripple-effect
			{% else %}
			mdl-textfield
			mdl-js-textfield
			mdl-textfield--floating-label
			{% endif %}
			{% if field.errors %}
			is-invalid
			{% endif %}">
	{% if field.field.widget.input_type == 'file' %}
	<label for="{{ field.id_for_label }}" class="rm-file-upload"><i class="material-icons">file_upload</i> {{ field.label }}</label>
	{% elif field.field.widget.input_type == 'checkbox' %}
	<label for="{{ field.id_for_label }}" class="mdl-checkbox__label">{{ field.label }}</label>
	{% else %}
	<label for="{{ field.id_for_label }}" class="mdl-textfield__label">{{ field.label }}</label>
	{% endif %}
	{{ field }}
</div>
<span class="help-text">{{ field.help_text }}</span>
{% if field.errors %}
<span class="error">{{ field.errors }}</span>
{% endif %}
{% endfor %}
