/*
 * Styles for Apps section
 */

.rm-repo-apps {
    @extend .rm-grid--center, .mdl-grid, .mdl-cell--9-col;
}

/*
 * Search
 */

.rm-repo-apps-header {
    display: flex;
    align-items: center;
    margin: 0;
}

.rm-repo-apps-header-search {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-flow: row;
    margin-left: 16px;
    font-style: italic;
    font-size: 17px;
    color: #000;

    .mdl-textfield {
        margin-left: 16px;
    }
}

.rm-repo-apps-header-search-icon {
    color: unset;
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 20px 0;
}

.rm-repo-apps-header-search-icon:hover {
    color: #808080;
}

.rm-no-search-results {
    margin-top: 25px;
    @include font-size(17px);
    color: #808080;
}

/*
 * Add apps
 */

.rm-repo-apps-add-container {
    @extend .mdl-cell, .mdl-cell--10-col, .center, .rm-form;
    padding: 20px;
}

.rm-repo-apps-add-remote {
    @extend .rm-no-underline;

    button {
        @extend .rm-button--blue;
        @include font-size(14px);
        height: 42px;
        padding: 0 42px;
        white-space: nowrap;
    }
}

.rm-repo-apps-add {
    background: #fafafa;
    background: linear-gradient(#ffffff, #fafafa);
    margin: 15px;
    padding: 20px;
}

.rm-repo-apps-add-title {
    font-weight: 600;
    @include font-size(15px);
}

.rm-repo-apps-add-description {
    color: #575757;
    @include font-size(14px);
}

.rm-repo-apps-add-choose {
    text-decoration: underline;
    cursor: pointer;
}

.rm-repo-apps-add-button {
    @extend .rm-button--blue;
}

/*
 * Add apps - loading
 */
.rm-repo-apps-add--loading {
    @extend .rm-repo-apps-add, .rm-dnd--loading;
    height: calc(70%);
}

.rm-repo-apps-add--loading-title {
    @extend .rm-dnd--loading-title;
}
